<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectNew"
        tools:targetApi="31">

        <activity
            android:name=".splashcreen.Splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ordercreation.MenuKeranjang" android:exported="false" />
        <activity android:name=".ordercreation.MenuCekout" android:exported="false" />
        <activity android:name=".productcatalog.MainActivity" android:exported="true" />
        <activity android:name=".ordercreation.MenuNotifikasi" />
        <activity android:name=".ordercreation.DetailPromoActivity"/>
        <activity android:name=".ordercreation.DetailInfoActivity" />
        <activity android:name=".ordercreation.DetailTransaksiActivity" />
    </application>
</manifest>
